<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <div class="box card p-3 text-center py-4">
        <h4 class="titulo">Crea tu cuenta</h4>
        <form>
            <div class="input-group casilla">
                <input type="text" class="form-control bg-primary" placeholder="Nombre" aria-label="Nombre"/>
                <span></span>
                <input type="text" class="form-control bg-primary" placeholder="Apellido" aria-label="Apellido"/>
            </div>
            <div class="input-group">
                <input type="text" class="form-control bg-primary" placeholder="DNI" aria-label="DNI"/>
                <span></span>
                <select class="form-select bg-primary text-white" aria-label="Sexo">
                    <option selected>Sexo</option>
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-primary" placeholder="Nacionalidad"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control bg-primary text-white" placeholder="Fecha de Nacimiento"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-primary" placeholder="Celular"/>
            </div>
            <div class="input-group">
                <input type="email" class="form-control bg-primary" placeholder="Mail" aria-label="Mail"/>
                <span></span>
                <input type="email" class="form-control bg-primary" placeholder="Confirmar mail" aria-label="Confirmar mail"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control bg-primary" placeholder="Contraseña"/>
            </div>
            <br>
            <button class="w-100 btn-lg btn-primary" type="submit">
             Registrarse
            </button>
            <span>Ya tienes una cuenta?</span><a href="#" class="text-decoration-none"> Iniciar sesión</a>
        </form>
    </div>
</div>

