<main class="form-signin">
  <div
    class="
      container-fluid
      d-flex
      justify-content-center
      align-items-center
      h-100
    "
  >
    <div class="card p-3 text-center py-4">
      <form>
        <h4 class="titulo">Crea tu cuenta</h4>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control bg-primary"
            placeholder="Nombre"
            aria-label="Nombre"
          />
          <span></span>
          <input
            type="text"
            class="form-control bg-primary"
            placeholder="Apellido"
            aria-label="Apellido"
          />
        </div>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control bg-primary"
            placeholder="DNI"
            aria-label="DNI"
          />
          <span></span>
          <select class="form-select text-white bg-primary" aria-label="Sexo">
            <option selected>Sexo</option>
            <option value="1">Femenino</option>
            <option value="2">Masculino</option>
            <option value="3">Otro</option>
          </select>
        </div>

        <div>
          <input
            type="text"
            class="form-control bg-primary"
            id="floatingInput"
            placeholder="Nacionalidad"
          />
        </div>

        <div>
          <input
            type="date"
            class="form-control bg-primary"
            id="floatingInput"
            placeholder="Fecha de Nacimiento"
          />
        </div>
        <div>
          <input
            type="text"
            class="form-control bg-primary"
            id="floatingInput"
            placeholder="Celular"
          />
        </div>
        <div>
          <input
            type="email"
            class="form-control bg-primary"
            id="floatingInput"
            placeholder="Mail"
          />
        </div>
        <div>
          <input
            type="email"
            class="form-control bg-primary"
            id="floatingInput"
            placeholder="Confirmar mail"
          />
        </div>
        <div>
          <input
            type="password"
            class="form-control bg-primary"
            id="floatingPassword"
            placeholder="Contraseña"
          />
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Sign in
        </button>

        <div>
          <span>Ya tienes una cuenta?</span>
          <a href="#" class="text-decoration-none"> Iniciar sesión</a>
        </div>
      </form>
    </div>
  </div>
</main>
