
<app-navbar></app-navbar>
<div class="collapse" id="collapseExample"
  style="width: 232px;
      text-align: center;
      margin: -26px 0px -151px 1255px;">
    <div class="card card-body" style="z-index: 1;">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>
<div class="image">
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>
<app-footer></app-footer>

