<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="box card p-3 py-4">
        <h4 class="titulo">Datos Pesonales</h4>
        <small id="filelHelp" class="form-text text-muted">Si por alguna razón necesita solicitar el cambio de datos
            personales recuerde que será necesario adjuntar imagenes de su DNI para corroborar los datos.</small><br>
        <form [formGroup]="formu" class="row g-3" (ngSubmit)="onEnviar($event,usuario)" novalidate>
            <div class="col-md-3">
                <input type="text" class="form-control casilla2" placeholder="Nombre" formControlName="name"
                    [(ngModel)]="usuario.nombre" />
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control casilla2" placeholder="Apellido" formControlName="lastName"
                    [(ngModel)]="usuario.apellido" />
            </div>

            <div class="col-md-3">
                <input type="date" class="form-control casilla2 text-white" placeholder="Fecha de Nacimiento"
                    formControlName="nacimiento" [(ngModel)]="usuario.fecha_de_nacimiento" />
            </div>

            <div class="form-group col-md-3">
                <select class="custom-select form-select casilla2 text-white" (change)="onSelectGenero($any($event.target).value)">
                    <option selected value="this.usuario.genero">{{usuario.genero}}</option>
                    <option *ngIf="this.usuario.genero == 'Masculino'" value="Femenino">Femenino</option>
                    <option  *ngIf="this.usuario.genero == 'Femenino'" value="Masculino">Masculino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <div class="col-md-6">
                <input type="number" class="form-control casilla2" placeholder="DNI" formControlName="dni"
                    [(ngModel)]="usuario.documento" />
                <small id="dnilHelp" class="form-text text-muted"> Sin incluir los puntos.</small>
            </div>

            <div class="col-md-6">
                <input type="text" class="form-control casilla2" placeholder="Cuil" formControlName="cuil"
                    [(ngModel)]="usuario.cuil" />
            </div>

            <div class="form-group col-md-4">
                <select class="custom-select form-select casilla2 text-white" (change)="onSelectNacionalidad($any($event.target).value)">
                    <option selected value="this.usuario.nacionalidad">{{usuario.nacionalidad}}</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Argentina'" value="Argentina">Argentina</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Boliviana'" value="Boliviana">Boliviana</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Brasilera'" value="Brasilera">Brasilera</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Chilena'" value="Chilena">Chilena</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Paraguaya'" value="Paraguaya">Paraguaya</option>
                    <option *ngIf="this.usuario.nacionalidad != 'Uruguaya'" value="Uruguaya">Uruguaya</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <select class="custom-select form-select casilla2 text-white"
                    (change)="onSelect($any($event.target).value)">
                    <option selected value="this.usuario.Id_localidad">{{provinciaSelected}}</option>
                    <option *ngFor="let prov of provincias" value={{prov.Id_provincia}}>
                        {{prov.Provinciaa}}
                    </option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <select class="custom-select form-select casilla2 text-white" (change)="onSelectLocalidad($any($event.target).value)">
                    <option selected *ngIf="mostrarLoc" value="this.usuario.Id_localidad">{{localidadSelected}}</option>
                    <option *ngFor="let loc of localidades" value={{loc.Id_localidad}}>
                        {{loc.Nombre}}
                    </option>
                </select>
            </div>

            <br>
            <div class="custom-file">
                <small id="filelHelp" class="form-text text-muted">Para terminar el registro es necesario que adjunte
                    foto del frente y reverso de su dni.</small><br>
                <input type="file" class="custom-file-input" id="customFile">
            </div>
            <br>
            <button class="w-100 btn-lg boton text-white" type="submit">
                Actualizar Perfil
            </button>
        </form>
        <br>
        <div class="alert alert-success" role="alert" *ngIf="this.exitoDatos">
            Los datos se han actualizado correctamente!
          </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="box card p-3 py-4">
        <h4 class="titulo">Datos de la Cuenta</h4>
        <form [formGroup]="formu2" (ngSubmit)="onEnviar2($event,usuario)" novalidate>
            <div class>
                <input type="email" class="form-control casilla2" placeholder="Mail" formControlName="mail"
                    [(ngModel)]="usuario.mail" />
            </div>

            <div class>
                <div class="input-group mb-3">
                    <input type="password" class="form-control casilla2" [type]="fieldTextType ? 'text' : 'password'"
                        placeholder="Contraseña" formControlName="contrasena" [(ngModel)]="usuario.contrasena" />
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="color: #ffffff;" id="basic-addon1">
                            <i *ngIf="!this.fieldTextType" class="fa fa-eye-slash"
                                style="margin-top: 15px; color: #020c13;cursor:pointer;" (click)="ocultarPass()"></i>
                            <i *ngIf="this.fieldTextType" class="fa fa-eye"
                                style="margin-top: 15px; color: #020d14;cursor:pointer;" (click)="ocultarPass()"></i>
                        </span>
                    </div>
                </div>
                <small id="passwordlHelp" class="form-text text-muted">Debe tener entre 8 y 15 caracteres.</small>
            </div>
            <button class="w-100 btn-lg boton text-white" type="submit">
                Actualizar Usuario
            </button>
        </form>
        <br>
        <div class="alert alert-success" role="alert" *ngIf="this.exitoCuenta">
            Los datos se han actualizado correctamente!
          </div>
    </div>

</div>