
<section class="section-login">
    <div class="container-fluid " style='height:535px;'>
        <div class="card login">
            <h2 class="bienvenida">
                Te damos la bienvenida <br />a <strong>PIL MONEY - 2021</strong>
            </h2>
            <form [formGroup]="loginForm" (click)="onEnviar($event,usuario)" autocomplete="off" novalidate>
                <div class="form-group my-4">
                    <div class="form-floating">
                        <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="Ingrese su email" [(ngModel)]="usuario.mail"/>
                        <label for="floatingInput"><i class="fa fa-envelope"></i>  Correo Electronico</label>
                        <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email" style="color: red; margin: 6px;">
                            Por favor, ingrese bien su correo electronico
                        </div>
                    </div>
                </div>

                <div class="form-group my-4">
                    <div >
                      <div  class="form-floating"  style="display:flex;">
                        <input type="password" class="form-control" [type]="fieldTextType ? 'text' : 'password'" formControlName="password" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.contrasena" />
                        <label for="floatingInput"><i class="fa fa-unlock"></i>  Contraseña</label>
                        <i *ngIf="!this.fieldTextType" class="fa fa-eye-slash" style="margin-top: 23px; color: #2182C9;cursor:pointer;" (click)="ocultarPass()"></i>
                        <i *ngIf="this.fieldTextType" class="fa fa-eye" style="margin-top: 23px; color: #2182C9;cursor:pointer;" (click)="ocultarPass()"></i>
                      </div>

                        <div *ngIf="loginForm.controls.password?.errors  && loginForm.controls.password?.dirty" style="color: red; margin: 6px;"><br>
                          <p *ngIf="loginForm.controls.password?.hasError('required')" >
                            La contraeña es requerida.
                          </p>
                          <p *ngIf="loginForm.controls.password?.hasError('minlength')">
                            La contraseña debe terner al menos 8 caracteres.
                          </p>
                          <p *ngIf="loginForm.controls.password?.hasError('maxlength')">
                            La contraseña debe terner como máximo 15 caracteres.
                          </p>
                      </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center" style="text-align: center; margin: 15px;">
                    <a class="btn btn-primary"  type="submit" (click)="cambiarEstado()" role="button">Ingresar</a>

                    <a class="btn btn-primary" href="/sign-up" role="button">Registrarse</a>
                </div>
            </form>

        </div>
    </div>
</section>
