<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!-- <div class="wrapper"> -->

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a><br>
    <div>
      <img src="../assets/img/bitcoin.png" alt="PILMoney" style="width: 150px;
      display: flex;
      margin: -64px 0px 37px 22px;">
    </div>

    <hr style="color:white">
    <a href="#"><i class="fa fa-money"></i>Tu dinero</a>
    <a href="#"><i class="fa fa-handshake-o"></i>Actividad</a>
    <a href="#"><i class="fa fa-bank"></i>Otros Servicios</a>
    <a href="#"><i class="fa fa-group"></i>Quienes Somos</a><br>
    <hr style="color:white"><br>
    <a href="#"><i class="fa fa-sign-out"></i>Salir</a>
  </div>

  <div id="main">
    <button class="openbtn" (click)="openNav()">☰</button>
  </div>
<!-- </div> -->

</body>
</html>
