<main class="px-3" style="height: 614px;">
  <div class="card-content">
    <div class="card" style="margin-top: 57px;">
      <h2 class="bienvenida">
        Te damos la bienvenida <br />a <strong>PIL MONEY - 2021</strong>
      </h2>
    </div>
  </div>
  <p class="lead">PIL-MONEY permite crear su propia cuenta virtual.Con esto podràs ingresar y retirar dinero, realizar pagos a servicios y transferencias. También  podràs comprar moneda extranjera y realizar distintos tipos de inversiones.</p>
  <p class="lead">
  </p>
</main>
