<main class="container-fluid p-0">
  <div class="row mb-1">
    <div class="row mb-0" style="background-color:#8EC2FE;">
      <div class="col-md-6 d-flex justify-content-around p-2" style="background-color:#8EC2FE;">
        <img class="img-fluid img1 rounded-2 "src="../../../assets/img/landing1.jpg">
      </div>
      <div class="col-md-6 p-2 text-center text1 my-auto">
        <h1 class="font-weight-bold">La mejor Billetera Virtual</h1>
        <p>La billetera virtual mas comoda, facil de usar, rapida, tiene todo lo que necesitas.</p>
      </div>
      </div>
    <div class="row mb-0 " style="background-color:white;">
      <div class="col-md-8 p-2 text-center text2 my-auto">
        <h1 class="font-weight-bold">Todo en un solo lugar</h1>
        <p>Deja de preocuparte por llevar la billetera a todos lados.<br/>Nunca mas tendras el problema de habertela olvidado. Tu billetera en tu telefono!</p>
      </div>
      <div class="col-md-4 p-2"style="background-color: white;">
        <img class="img-fluid img2 rounded-3" src="../../../assets/img/landing2.jpg">
      </div>
    </div>
    <div class="row mb-0" style="background-color:#E2E9FF;">
      <div class="col-md-6 d-flex justify-content-around p-2">
        <img class="img-fluid img3 rounded-2 "src="../../../assets/img/landing3.png">
      </div>
      <div class="col-md-6 p-2 text-center text3 my-auto">
        <h1 class="font-weight-bold ">Realizá tus movimientos de dinero</h1>
        <p>De manera segura y rapida podras enviar y recibir dinero de y a cualquier cuenta.<br/>Llevá un seguimiento de tus movimientos para que no se te pierda un peso!</p>
      </div>
    </div>
  </div>
</main>
