USE [master]
GO
/****** Object:  Database [pil2b]    Script Date: 9/10/2021 02:19:30 ******/
CREATE DATABASE [pil2b]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pil2b', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pil2b.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pil2b_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pil2b_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pil2b].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pil2b]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fecha_de_nacimiento] [date] NOT NULL,
	[documento] [int] NOT NULL,
	[cuil] [varchar](50) NOT NULL,
	[nacionalidad] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[id_localidad] [int] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[imagen_delantera] [varchar](50) NOT NULL,
	[imagen_trasera] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[cvu] [varchar](50) NOT NULL,
	[numero_de_cuenta] [varchar](50) NOT NULL,
	[saldo] [int] NOT NULL,
	[id_tipo_cuenta] [int] NOT NULL,
 CONSTRAINT [PK_cuenta] PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localidad]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NOT NULL,
	[codigo_postal] [int] NOT NULL,
	[id_provincia] [int] NOT NULL,
 CONSTRAINT [PK_localidad] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operacion]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operacion](
	[id_operaciones] [int] IDENTITY(1,1) NOT NULL,
	[id_cuenta] [int] NOT NULL,
	[id_tipo_operacion] [int] NOT NULL,
	[monto] [int] NOT NULL,
	[id_cuenta_destino] [int] NULL,
	[concepto] [varchar](200) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_operacion] PRIMARY KEY CLUSTERED 
(
	[id_operaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefono](
	[id_telefono] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_telefono] PRIMARY KEY CLUSTERED 
(
	[id_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cuenta]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cuenta](
	[id_tipo_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[moneda] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_cuenta] PRIMARY KEY CLUSTERED 
(
	[id_tipo_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_operacion]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_operacion](
	[id_tipo_operacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_operacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [fecha_de_nacimiento], [documento], [cuil], [nacionalidad], [genero], [id_localidad], [mail], [contrasena], [imagen_delantera], [imagen_trasera]) VALUES (1, N'Juan', N'Perez', CAST(N'2000-03-03' AS Date), 23400456, N'23-23400456-0', N'Argentina', N'Masculino', 1, N'juanperez@gmail.com', N'123456', N'si', N'si')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [fecha_de_nacimiento], [documento], [cuil], [nacionalidad], [genero], [id_localidad], [mail], [contrasena], [imagen_delantera], [imagen_trasera]) VALUES (4, N'Ana', N'Lopeza', CAST(N'2021-10-06' AS Date), 36000339, N'23-36000339-3', N'Boliviana', N'Masculino', 1003, N'analopez@gmail.com', N'', N'Si', N'Si')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [fecha_de_nacimiento], [documento], [cuil], [nacionalidad], [genero], [id_localidad], [mail], [contrasena], [imagen_delantera], [imagen_trasera]) VALUES (5, N'Pablo', N'Lopez', CAST(N'2021-10-09' AS Date), 42333458, N'23-42333458-4', N'Argentina', N'Masculino', 1, N'pablolopez@gmail.com', N'12344444', N'si', N'si')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[cuenta] ON 

INSERT [dbo].[cuenta] ([id_cuenta], [id_cliente], [cvu], [numero_de_cuenta], [saldo], [id_tipo_cuenta]) VALUES (1, 1, N'000001', N'000001', 0, 1)
INSERT [dbo].[cuenta] ([id_cuenta], [id_cliente], [cvu], [numero_de_cuenta], [saldo], [id_tipo_cuenta]) VALUES (2, 4, N'000002', N'000002', 0, 1)
INSERT [dbo].[cuenta] ([id_cuenta], [id_cliente], [cvu], [numero_de_cuenta], [saldo], [id_tipo_cuenta]) VALUES (3, 5, N'000003', N'000003', 0, 1)
SET IDENTITY_INSERT [dbo].[cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[localidad] ON 

INSERT [dbo].[localidad] ([id_localidad], [nombre], [codigo_postal], [id_provincia]) VALUES (1, N'Córdoba   ', 5008, 1)
INSERT [dbo].[localidad] ([id_localidad], [nombre], [codigo_postal], [id_provincia]) VALUES (1003, N'Cosquín   ', 5166, 1)
INSERT [dbo].[localidad] ([id_localidad], [nombre], [codigo_postal], [id_provincia]) VALUES (1004, N'Tanti     ', 5155, 1)
SET IDENTITY_INSERT [dbo].[localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[operacion] ON 

INSERT [dbo].[operacion] ([id_operaciones], [id_cuenta], [id_tipo_operacion], [monto], [id_cuenta_destino], [concepto], [fecha_hora], [estado]) VALUES (1, 1010, 1, 100, 1014, N'Prestamo', CAST(N'2020-02-01T00:00:00.000' AS DateTime), N'Finalizado')
INSERT [dbo].[operacion] ([id_operaciones], [id_cuenta], [id_tipo_operacion], [monto], [id_cuenta_destino], [concepto], [fecha_hora], [estado]) VALUES (2, 1014, 2, 55, 1010, N'Devolucion', CAST(N'2020-02-23T00:00:00.000' AS DateTime), N'Finalizado')
SET IDENTITY_INSERT [dbo].[operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[provincia] ON 

INSERT [dbo].[provincia] ([id_provincia], [provincia]) VALUES (1, N'Córdoba')
INSERT [dbo].[provincia] ([id_provincia], [provincia]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[provincia] ([id_provincia], [provincia]) VALUES (3, N'Capital Federal')
SET IDENTITY_INSERT [dbo].[provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_cuenta] ON 

INSERT [dbo].[tipo_cuenta] ([id_tipo_cuenta], [nombre], [moneda]) VALUES (1, N'Caja de Ahorro', N'Peso Argentino')
SET IDENTITY_INSERT [dbo].[tipo_cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_operacion] ON 

INSERT [dbo].[tipo_operacion] ([id_tipo_operacion], [nombre]) VALUES (1, N'Transferencia')
INSERT [dbo].[tipo_operacion] ([id_tipo_operacion], [nombre]) VALUES (2, N'Deposito')
SET IDENTITY_INSERT [dbo].[tipo_operacion] OFF
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_localidad]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_cliente]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_tipo_cuenta] FOREIGN KEY([id_tipo_cuenta])
REFERENCES [dbo].[tipo_cuenta] ([id_tipo_cuenta])
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_tipo_cuenta]
GO
ALTER TABLE [dbo].[localidad]  WITH CHECK ADD  CONSTRAINT [FK_localidad_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[localidad] CHECK CONSTRAINT [FK_localidad_provincia]
GO
ALTER TABLE [dbo].[operacion]  WITH CHECK ADD  CONSTRAINT [FK_operacion_cuenta] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[cuenta] ([id_cuenta])
GO
ALTER TABLE [dbo].[operacion] CHECK CONSTRAINT [FK_operacion_cuenta]
GO
ALTER TABLE [dbo].[operacion]  WITH CHECK ADD  CONSTRAINT [FK_operacion_tipo_operacion] FOREIGN KEY([id_tipo_operacion])
REFERENCES [dbo].[tipo_operacion] ([id_tipo_operacion])
GO
ALTER TABLE [dbo].[operacion] CHECK CONSTRAINT [FK_operacion_tipo_operacion]
GO
ALTER TABLE [dbo].[telefono]  WITH CHECK ADD  CONSTRAINT [FK_telefono_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[telefono] CHECK CONSTRAINT [FK_telefono_cliente]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_persona]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[actualizar_persona]
	-- Add the parameters for the stored procedure here
	@id_cliente int,
	@nombre varchar(50),
	@apellido varchar(50),
	@fecha_de_nacimiento date,
	@documento int,
	@cuil varchar(50),
	@nacionalidad varchar(50),
	@genero varchar(50),
	@id_localidad int,
	@mail varchar(50),
	@contrasena varchar(50),
	@imagen_delantera varchar(50),
	@imagen_trasera varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[cliente]
    SET [nombre] = @nombre
      ,[apellido] = @apellido
      ,[fecha_de_nacimiento] = @fecha_de_nacimiento
      ,[documento] = @documento
      ,[cuil] = @cuil
      ,[nacionalidad] = @nacionalidad
      ,[genero] = @genero
      ,[id_localidad] = @id_localidad
      ,[mail] = @mail
      ,[contrasena] = @contrasena
      ,[imagen_delantera] = @imagen_delantera
      ,[imagen_trasera] = @imagen_trasera
 WHERE id_cliente = @id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[comparar_usuario]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[comparar_usuario]
	-- Add the parameters for the stored procedure here
	@documento int,
	@cuil varchar(50),
	@mail varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id_cliente],
	[nombre]
  FROM [dbo].[cliente]
  WHERE documento=@documento OR cuil=@cuil OR mail=@mail
END
GO
/****** Object:  StoredProcedure [dbo].[insertar_cuenta]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertar_cuenta]
	-- Add the parameters for the stored procedure here 
	@id_cliente int, 
	@cvu varchar(50), 
	@numero_de_cuenta varchar(50), 
	@saldo int, 
	@id_tipo_cuenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO cuenta (id_cliente,cvu,numero_de_cuenta,saldo,id_tipo_cuenta) VALUES (@id_cliente,@cvu,@numero_de_cuenta,@saldo,@id_tipo_cuenta)
END
GO
/****** Object:  StoredProcedure [dbo].[insertar_persona]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertar_persona] 
	-- Add the parameters for the stored procedure here
	@nombre varchar(50),
	@apellido varchar(50),
	@fecha_de_nacimiento date,
	@documento int,
	@cuil varchar(50),
	@nacionalidad varchar(50),
	@genero varchar(50),
	@id_localidad int,
	@mail varchar(50),
	@contrasena varchar(50),
	@imagen_delantera varchar(50),
	@imagen_trasera varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO cliente
           (nombre
           ,apellido
           ,fecha_de_nacimiento
           ,documento
           ,cuil
           ,nacionalidad
           ,genero
           ,id_localidad
		   ,mail
           ,contrasena
           ,imagen_delantera
           ,imagen_trasera)
     VALUES
           (@nombre
           , @apellido
           , @fecha_de_nacimiento
           , @documento
           , @cuil
           , @nacionalidad
           , @genero
           , @id_localidad
		   , @mail
           , @contrasena
           , @imagen_delantera
           , @imagen_trasera)
END
GO
/****** Object:  StoredProcedure [dbo].[insertar_telefono]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertar_telefono]
	-- Add the parameters for the stored procedure here
	@id_telefono int, 
	@id_cliente int,
	@telefono varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO telefono (id_telefono, id_cliente, telefono) VALUES (@id_telefono,@id_cliente, @telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_cuenta]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_cuenta]
	-- Add the parameters for the stored procedure here
	@id_cliente int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
  FROM [dbo].[cuenta]
  WHERE id_cliente=@id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_cuentas]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_cuentas] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[cuenta]
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_datos_logeo]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_datos_logeo]
	-- Add the parameters for the stored procedure here
	@mail varchar(50),
	@contrasena varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id_cliente]
      ,[nombre]
FROM [dbo].[cliente]
WHERE mail=@mail AND
contrasena=@contrasena
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_id]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_id]
	-- Add the parameters for the stored procedure here
	@cuil varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id_cliente]
      ,[nombre]
	FROM [dbo].[cliente]
	WHERE cuil=@cuil
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_localidades]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_localidades] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[localidad]
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_operacion]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_operacion]
	-- Add the parameters for the stored procedure here
	@id_cuenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM [dbo].[operacion]
	WHERE id_cuenta=@id_cuenta OR id_cuenta_destino=@id_cuenta
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_persona]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_persona] 
	-- Add the parameters for the stored procedure here
	@id_cliente int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [id_cliente]
      ,[nombre]
      ,[apellido]
      ,[fecha_de_nacimiento]
      ,[documento]
      ,[cuil]
      ,[nacionalidad]
      ,[genero]
      ,[id_localidad]
	  ,[mail]
      ,[contrasena]
      ,[imagen_delantera]
      ,[imagen_trasera]
  FROM [dbo].[cliente]
  WHERE id_cliente=@id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_personas]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_personas] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[cliente]
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_provincias]    Script Date: 9/10/2021 02:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_provincias] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[provincia]
END
GO
USE [master]
GO
