<nav class="nav navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-menu></app-menu>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="text-white nav-link" routerLink="/login" routerLinkActive="active" aria-current="page"><i class="fa fa-user"></i> LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="text-white nav-link"  routerLink="/sign-up" routerLinkActive="active" aria-current="page"><i class="fa fa-user-plus"></i> REGISTRARSE</a>
        </li>
      </ul>
    </div>
    <h4 class="text-white position-absolute top-50 start-50 translate-middle"> PIL - MONEY - 2021</h4>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
             <!-- Add icon library -->
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

             <!-- Add font awesome icons -->
             <a href="#" class="fa fa-facebook" style="color:white;margin:28px;"></a>
             <a href="#" class="fa fa-twitter" style="color:white;"></a>
             <a href="#" class=" fa fa-instagram" style="color:white;margin:28px;"></a>
             <a href="#" class="fa fa-bell-o" style="color:white;margin:28px;"></a>
      </li>
    </ul>
  </div>
 </nav>
