body{
	width:400px;
	margin: 0 auto;
}
table{
    width: 100%;
    margin-top: 10px;
    font-size: 0.8em;
}
.transferencia{
    color: red;
}
.deposito{
    color: green;
}
.separadorNovimientos{
    margin-left: 10px;
}

fieldset{
    margin-top: 30px;
}

.seperarBotones{
    margin-left: 10px;
}