
<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <div class="box card p-3 py-4">
        <h4 class="titulo">Crea tu cuenta</h4>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event,usuario)" novalidate>
            <div>
                <input type="text" class="form-control casilla2" placeholder="Nombre" formControlName="name" [(ngModel)]="usuario.nombre" >
                <div *ngIf="nameField?.errors  && nameField?.dirty" class="text-danger">
                    <p *ngIf="nameField?.hasError('required')" >
                      El nombre es requerido.
                    </p>
                </div>
            </div>

            <div>
                <input type="text" class="form-control casilla2" placeholder="Apellido" formControlName="lastName" [(ngModel)]="usuario.apellido"/>
                <div *ngIf="lastNameField?.errors  && lastNameField?.dirty" class="text-danger">
                    <p *ngIf="lastNameField?.hasError('required')" >
                      El apellido es requerido.
                    </p>
                </div>
            </div>

            <div class>
                <input type="date" class="form-control casilla2 text-white" placeholder="Fecha de Nacimiento" formControlName="nacimiento"  [(ngModel)]="usuario.fecha_de_nacimiento"/>
                <div *ngIf="nacimientoField?.errors  && nacimientoField?.dirty" class="text-danger">
                    <p *ngIf="nacimientoField?.hasError('required')" >
                      La fecha de nacimiento es requerida.
                    </p>
                </div>
            </div>

            <div>
                <input type="number" class="form-control casilla2" placeholder="DNI" formControlName="dni" [(ngModel)]="usuario.documento"/>
                <small id="dnilHelp" class="form-text text-muted">  Ingresa tu número de DNI sin incluir los puntos.</small>
                <div *ngIf="dniField?.errors  && dniField?.dirty" class="text-danger">
                    <p *ngIf="dniField?.hasError('required')" >
                      El DNI es requerido.
                    </p>
                </div>
            </div>

            <div class>
                <input type="text" class="form-control casilla2" placeholder="Cuil" formControlName="cuil" [(ngModel)]="usuario.cuil"/>
                <div *ngIf="cuilField?.errors  && cuilField?.dirty" class="text-danger">
                    <p *ngIf="cuilField?.hasError('required')" >
                      El cuil es requerido.
                    </p>
                    <p *ngIf="cuilField?.hasError('minlength')">
                        El formato del cuil debe ser válido.
                    </p>
                    <p *ngIf="cuilField?.hasError('maxlength')">
                        El formato del cuil debe ser válido.
                    </p>
                </div>
            </div>

            <div>
                <input type="text" class="form-control casilla2" placeholder="Nacionalidad" formControlName="nacionalidad" [(ngModel)]="usuario.nacionalidad"/>
                <div *ngIf="nacionalidadField?.errors  && nacionalidadField?.dirty" class="text-danger">
                    <p *ngIf="nacionalidadField?.hasError('required')" >
                      La nacionalidad es requerida.
                    </p>
                </div>
            </div>

            <div>
                <input type="text" class="form-control casilla2" placeholder="Genero" formControlName="sexo" [(ngModel)]="usuario.genero"/>
                <div *ngIf="sexoField?.errors  && sexoField?.dirty" class="text-danger">
                    <p *ngIf="sexoField?.hasError('required')" >
                        El genero es requerido.
                    </p>
                </div>
            </div>

            <div>
                <input type="number" class="form-control casilla2" placeholder="Localidad" formControlName="localidad" [(ngModel)]="usuario.id_localidad"/>
                <div *ngIf="localidadField?.errors  && localidadField?.dirty" class="text-danger">
                    <p *ngIf="localidadField?.hasError('required')" >
                       La localidad es requerida.
                    </p>
                </div>
            </div>

            <div class>
                <input type="email" class="form-control casilla2" placeholder="Mail" formControlName="mail" [(ngModel)]="usuario.mail"/>
                <div *ngIf="mailField?.errors  && mailField?.dirty" class="text-danger">
                    <p *ngIf="mailField?.hasError('required')" >
                      El mail es requerido.
                    </p>
                    <p *ngIf="mailField?.hasError('email')">
                      El formato del mail debe ser válido.
                    </p>
                </div>
            </div>

            <div class>
                <input type="email" class="form-control casilla2" placeholder="Confirmar mail" formControlName="checkMail"/>
                <div *ngIf="checkMailField?.errors  && checkMailField?.dirty" class="text-danger">
                    <p *ngIf="checkMailField?.hasError('required')" >
                      El mail es requerido.
                    </p>
                    <p *ngIf="mailField?.hasError('email')">
                      El formato del mail debe ser válido.
                    </p>
                    <p *ngIf="checkMailDifferent" >
                        Los mails deben ser iguales.
                      </p>
                </div>
            </div>

            <div class>
                <input type="password" class="form-control casilla2" placeholder="Contraseña" formControlName="contrasena" [(ngModel)]="usuario.contrasena"/>
                <small id="passwordlHelp" class="form-text text-muted">Debe tener entre 8 y 15 caracteres.</small>
                <div *ngIf="passField?.errors  && passField?.dirty" class="text-danger">
                    <p *ngIf="passField?.hasError('required')" >
                      La contraeña es requerida.
                    </p>
                    <p *ngIf="passField?.hasError('minlength')">
                        La contraseña debe terner al menos 8 caracteres.
                    </p>
                    <p *ngIf="passField?.hasError('maxlength')">
                        La contraseña debe terner como máximo 15 caracteres.
                    </p>
                </div>
                
            </div>
            <br>
            <div class="custom-file">
                <small id="filelHelp" class="form-text text-muted">Para terminar el registro es necesario que adjunte foto del frente y reverso de su dni.</small><br>
                <input type="file" class="custom-file-input" id="customFile">
              </div>
            <br>
            <button class="w-100 btn-lg boton text-white" type="submit">
             Registrarse
            </button>
            <span>Ya tienes una cuenta?</span><a href="#" class="text-decoration-none"> Iniciar sesión</a>
        </form>
    </div>
</div>



